@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div style="text-align:center;">
        <h1>Welcom</h1>
    </div>
    <div class="img">
        <img src="/images/static/hero-bg.jpg" alt="Alternate Text" />
    </div>
</div>

<style>
    .container{

    }
    .container .img img{
        width:100%; 
        height:400px;
        padding:10px 10px;
        
    }
</style>