@model AppointmentReschedule

@{
    ViewData["Title"] = "Reschedule";
}


<h4>AppointmentReschedule</h4>
<hr />
<div class="row" style="height:100vh;">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="AppointmentId" hidden />
            <input asp-for="DocotrId" hidden />

            <div class="form-group mb-3">
                <label asp-for="Date" class="form-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Time" class="form-label"></label>
                <input asp-for="Time" type="time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
